{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/components/forum.css' %}">
<link rel="stylesheet" href="{% static 'css/forums.css' %}">
<div class="forum-wrapper">
    <div class="forum-main">
        <div class="container">
            <div class="subforum">
                <div class="subforum-title">
                    <h1>General Information</h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
            </div>
            <!--More-->
            
            <div class="subforum">
                <div class="subforum-title">
                    <h1>General Information</h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
                <hr class="subforum-devider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
                <hr class="subforum-devider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
                <hr class="subforum-devider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
                <hr class="subforum-devider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
            </div>
            
            <div class="subforum">
                <div class="subforum-title">
                    <h1>General Information</h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
                <hr class="subforum-devider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
            </div>
            
            <div class="subforum">
                <div class="subforum-title">
                    <h1>General Information</h1>
                </div>
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="fa fa-car center"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <h4><a href="#">Description Title</a></h4>
                        <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                    <div class="subforum-info subforum-column">
                        <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                        <br>on <small>12 Dec 2020</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Forum Info -->
        <div class="forum-info">
            <div class="online-users-info">
                <h3>Who's Online <a href="#" class="view-all">(View All)</a></h3>
                <div class="online-stats">
                    <p>Members online: <strong>23</strong> • Guests online: <strong>45</strong></p>
                </div>
                <div class="online-members">
                    <a href="#" class="user-link admin">Admin1</a>,
                    <a href="#" class="user-link moderator">Mod1</a>,
                    <a href="#" class="user-link vip">VIPUser</a>,
                    <a href="#" class="user-link">RegularUser</a>
                </div>
            </div>
        </div>
    </div>

    <div class="forum-sidebar">
        <!-- Trending Content -->
        <div class="sidebar-section">
            <div class="section-header">
                <h3>Trending Content</h3>
            </div>
            <div class="section-content">
                <ul class="trending-list">
                    <li>
                        <a href="#" class="trending-item">
                            <span class="trend-title">Popular Topic Title</span>
                            <span class="trend-stats">Views: 1.2K | Replies: 45</span>
                        </a>
                    </li>
                    <!-- More trending items here -->
                </ul>
            </div>
        </div>

        <!-- Recent Posts -->
        <div class="sidebar-section">
            <div class="section-header">
                <h3>Recent Posts</h3>
            </div>
            <div class="section-content">
                <ul class="recent-posts">
                    <li>
                        <a href="#" class="post-item">
                            <span class="post-title">Post Title</span>
                            <span class="post-meta">by <span class="user-name">Username</span></span>
                            <span class="post-time">2 hours ago</span>
                        </a>
                    </li>
                    <!-- More recent posts here -->
                </ul>
            </div>
        </div>

        <!-- Forum Statistics -->
        <div class="sidebar-section">
            <div class="section-header">
                <h3>Forum Statistics</h3>
            </div>
            <div class="section-content stats">
                <div class="stat-item">
                    <span class="stat-label">Topics:</span>
                    <span class="stat-value">1,234</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Posts:</span>
                    <span class="stat-value">5,678</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Members:</span>
                    <span class="stat-value">890</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Online Record:</span>
                    <span class="stat-value">156 users</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Newest Member:</span>
                    <a href="#" class="user-link">NewUser123</a>
                </div>
            </div>
        </div>

        <!-- Removendo a seção duplicada de Who's Online -->
    </div>
</div>
{% endblock %}